<% @title="Update a Space | MakersBnB" %>

<h2>Update a Space</h2>
<form action="/spaces" method="post">
  <label for="name">
    Name:
    <input type="text" name="name" value="<%= nil %>" required>
  </label>

  <label for="description">
    Description:
    <textarea name="description" cols="30" rows="10"><%= @space.description %></textarea>
  </label>

  <label for='price'>
     Price:
    <input type='number' name='price' step="0.01" value="<%= @space.price %>" required/>
  </label>

  <label for='date_from'>
      Available From:
      <input type='date' name='date_from' value="<%= @space.date_from %>" required/>
  </label>

  <label for="date_to">
      Available To:
      <input type='date' name='date_to' value="<%= @space.date_to %>" required/>
  </label>

  <input type="submit" value="Update Space">
</form>
