<h1>
  <% if @user %> 
  Welcome <%= @user.first_name %>
  <% end %> 
</h1>

<% @title="All Spaces | " %>

<% if @spaces %>
  <ul><% @spaces.each do |space| %>
    <li>
      <article>
        <header>
            <h4><a href="space/<%= space.id %>"><%= space.name %></a></h4>
        </header>
        <p><%= space.description %></p>
        <p>Price: £<%= sprintf("%0.02f", space.price) %></p>
        <% if space.user_id == @user.id %>
          <form action="/spaces/update" method="POST">  <input type="hidden" name="space_id" value="<%= space.id %>"></input>
            <input type="submit" value="Update Space">
          </form>
        <% end %>
      </article>
    </li>
    <% end %>
  </ul>
<% end %>

<form action="/spaces/new" method="get">
  <input type="submit" value="List a Space">
</form>
