<% @title= "#{@space.name} | " %>
<main>
    <h2><%= @space.name %></h2>
    <div>

        Available From: <%= format_date(@space.date_from) %> Available To: <%= format_date(@space.date_to) %>
    </br>
    <% @bookings.each do |booking| %>
        Unavailable from <%= format_date(booking.from_date) %> - <%= format_date(booking.end_date) %> 
    </br>
<%end%>

    </div>
  <% if current_user.id != @space.user_id %>
    <form action='/request/new' method='post'>
        <label for='start_date'>
            Start Date:
            <input type='date' name='start_date' required />
        </label>

        <label for='end_date'>
            End Date:
            <input type='date' name='end_date' required />
        </label>
        <input type='hidden' name='space_id' value= '<%= @space.id %>' />
        <input type='submit' value='Request a booking'>
    </form>
  <% end %>
</main>
